<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Админ-панель</title>
    <link rel="stylesheet" href="../stylesheets/style.css"/>
</head>
<body>
<div class="container">
    <h1>Добро пожаловать в админ-панель!</h1>
    <p>Вы успешно вошли в систему.</p>
    <table>
        <thead>
        <tr>
            <th>Аватар</th>
            <th>Имя пользователя</th>
            <th>Пароль</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach(user => {%>
            <tr>
                <td style="text-align: center;">
                    <% if (user.avatar) { %>
                    <img src="<%= user.avatar %>" alt="Avatar" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
                    <% } else { %>
                    <span style="font-size: 2rem;">👤</span>
                    <% } %>
                </td>
                <td><%= user.username %></td>
                <td><%= user.password %></td>
                <td><%= user.Role.name %></td>
                <td>
                    <form action="/admin/delete-user/<%=user.id%>" method="post" style="display: inline;">
                        <button type="submit">Удалить</button>
                    </form>
                    <button onclick="window.location.href='/admin/edit-user/<%=user.id%>'" type="button">Редактировать</button>
                </td>
            </tr>
        <%})%>
        </tbody>
    </table>
    <div class="buttons">
        <button onclick="window.location.href='/admin/create-user'">Создать пользователя</button>
    </div>
    <a href="/logout">Выйти</a>
</div>
</body>
</html>
